@import url("class1.css");
.page1 {
	text-align: center;
	color: red;
	background-image: url(../../Public/Pictures/Sample%20Pictures/Lighthouse.jpg);
	background-attachment: fixed;
	background-position: 180;
}
#page2 {
	font-size:16px;
	text-align: center;
    color: blue;
}
body {color:blue;
background-color:#6F9
}
page3 {
	font-size: 24px;
	font-style: italic;
	color: #FFF;
	text-decoration: underline;
}
